:root{
  --mainBlue: rgb(133, 51, 4);
  --lightBlue: rgb(184, 176, 168);
  --mainWhite: rgb(26, 5, 5);
  --mainDark: rgb(97, 96, 96);
  --mainBrown: rgb(114, 52, 27);
  --transition: all 1s linear;
}
body{
background: rgb(190, 190, 190);
  color: var(--mainDark) !important;
}
.text-title{
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}

.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color:var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--lightBlue);
}
.img-container.p-5 {
  height: 100%;
}
.ad{
  display: block;
    margin-left: auto;
    margin-right: auto;
}
.floated {
  float: left;
}
.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 75px;
}
.twitterContainer {
  height: 400px;
  overflow: scroll;
}
.lead {
  font-size: 1.5rem;
  font-weight: 600 !important;
}
.navbar {
  padding: 0 !important; 
}
.accordion {
  margin-top: 100px;
  margin-bottom: 100px;
}
@media only screen and (max-width: 767px) {
  .col-9 {
    max-width: 100% !important;
}
#twitter-widget-0{
  width: 100% !important;
}
}